<!DOCTYPE html>

<%- include('../partials/head'); %>

<html lang="en">

<body class="container">

    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Oi sou Rafael </p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>

</html>